<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      .user {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>

    <% for(var i=0; i<arr.length; i++) { %>
      <h1 class="user"><%= arr[i].name %></h1>
    <% } %>

  </body>
</html>
