<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/upload/img" method="POST" enctype="multipart/form-data">
      <input type="file" name="imgs" value="">
      <input type="submit" value="上传">
    </form>
  </body>
</html>
